/* Estilo para o corpo (body) da página */
body{
    margin-right: 0;
    margin: 0;
    background: rgb(136, 255, 209);
    background: linear-gradient(0deg, rgb(152, 255, 166) 0%, rgba(32,124,142,0.8855917366946778) 94%);;

}
/* Estilo para links de menu */
.linkmenu{
    text-decoration: none;
    color: rgb(147, 204, 255);
    font-size: large;
}
/* Estilos para links no rodapé */
#rodape a {
    color: rgb(253, 255, 117);
    text-decoration: none;
}
/* Estilos para parágrafos no rodapé */
#rodape p {
    color: azure;
    text-decoration: none;
}

/* Estilos para ajustar o layout da página */
#row1{
margin-top: -250px;
}
#card{
margin-top: -350px;
}
#titulo{
    margin-top: -100px;
}

